<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1>受注一括発送</h1>
  <hr disabled />
  <a th:href="@{/orders}" class="btn btn-default">Back</a><br /><br />

  <div class="mb-4">
    <div class="row">
      <!-- CSVの読み込み -->
      <form class="row col-6" th:action="@{/orders/shipping}" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <input class="form-control" type="file" id="file" name="file" accept=".csv" />
          <button type="submit" class="btn btn-primary">読込</button>
        </div>
      </form>
      <!-- テンプレートCSVのダウンロード -->
      <form th:method="post" th:action="@{/orders/shipping/download}" enctype="multipart/form-data" class="col-4">
        <input type="submit" value="テンプレートをダウンロード" class="btn btn-warning" />
      </form>
    </div>
  </div>

  <!-- CSVの各行のバリデーションチェック後のエラーを表示する -->
  <div th:if="${validationError}" th:each="error : ${validationError}">
    <label class="text-danger" th:text="${error}"></label>
  </div>

  <!-- CSVの読み込み内容を表示する -->
  <div th:if="${orderShippingList}">
    <!-- チェックを入れたデータのみ出荷済みに更新する -->
    <form th:action="@{/orders/shipping}" th:method="'put'">
      <button type="button" id="update_button" class="btn btn-success">出荷情報更新</button>
      <table class="table">
        <thead>
          <tr>
            <th><input type="checkbox" id="all_check" /></th>
            <th>受注ID</th>
            <th>出荷コード</th>
            <th>出荷日</th>
            <th>配達日</th>
            <th>配達時間帯</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="orderShipping : ${orderShippingList}">
            <td>
              <input class="row_check" type="checkbox" />
            </td>
            <td>
              <th:block th:text="${orderShipping.order.id}"></th:block>
              <input type="hidden" name="order_id[]" th:value="${orderShipping.order.id}" disabled />
            </td>
            <td>
              <th:block th:text="${orderShipping.shippingCode}"></th:block>
              <input type="hidden" name="shippingCode[]" th:value="${orderShipping.shippingCode}" disabled />
            </td>
            <td>
              <th:block th:text="${orderShipping.shippingDate}"></th:block>
              <input type="hidden" name="shippingDate[]" th:value="${orderShipping.shippingDate}" disabled />
            </td>
            <td>
              <th:block th:text="${orderShipping.deliveryDate}"></th:block>
              <input type="hidden" name="deliveryDate[]" th:value="${orderShipping.deliveryDate}" disabled />
            </td>
            <td>
              <th:block th:text="${orderShipping.deliveryTimezone}"></th:block>
              <input type="hidden" name="deliveryTimezone[]" th:value="${orderShipping.deliveryTimezone}" disabled />
            </td>
            <td>
              <span class="badge"></span>
              <!-- <span class="badge text-bg-danger d-none">エラー</span>
              <span class="badge text-bg-success d-none">成功</span> -->
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</th:block>

</html>
<script src="/js/order/order-shipping.js"></script>
