<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1 th:if="${app.id == null}">New App</h1>
  <h1 th:if="${app.id != null}">Edit App</h1>
  <hr />
  <form th:action="@{/apps}" th:method="@{${app.id == null} ? 'post' : 'put'}" th:object="${app}">
    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" th:field="*{name}"/>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input id="url" name="url" type="text" class="form-control" th:field="*{url}"/>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" type="text" class="form-control" th:field="*{description}"></textarea>
    </div>
    <div class="form-group">
      <label for="image_file-lg">Image</label>
      <input id="image_file" name="image_file" type="file" class="form-control-lg" onchange="previewImage(this);"/>
      <!-- 画像があれば縮小して表示 -->
      <img th:if="${app.image != null && app.image != ''}" th:src="*{image}" th:alt="現在の画像" width="200" height="200" />
      <input id="image" name="image" type="hidden" th:field="*{image}" />
    </div>
    <div class="form-group">
      <label for="developer">Developer</label>
      <input id="developer" name="developer" type="text" class="form-control" th:field="*{developer}" />
    </div>
    <div class="form-check">
      <input id="active" name="active" type="checkbox" class="form-check-input" th:field="*{active}" />
      <label for="active" class="form-check-label">Active</label>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a th:href="@{/apps}" class="btn btn-default">Back</a>
  </form>
  <script>
    if (!Element.prototype.matches) {
        Element.prototype.matches = Element.prototype.msMatchesSelector || 
                                    Element.prototype.webkitMatchesSelector;
    }

    if (!Element.prototype.closest) {
        Element.prototype.closest = function(s) {
            var el = this;
            do {
                if (el.matches(s)) return el;
                el = el.parentElement || el.parentNode;
            } while (el !== null && el.nodeType === 1);
            return null;
        };
    }
</script>

  <script>
    function previewImage(obj) {
      var fileReader = new FileReader();
      fileReader.onload = (function() {
      previewElement = document.createElement("img");
      previewElement.id = "preview";
      previewElement.style.maxWidth = '200px';
      previewElement.style.maxHeight = '200px';
      
      var formGroupElement = obj.closest('.form-group');
        if (formGroupElement) {
          formGroupElement.appendChild(previewElement);
         }

      previewElement.src = fileReader.result;
      });

      fileReader.readAsDataURL(obj.files[0]);
    }
  </script>
  <link th:href="@{/css/app.css}" type="text/css" rel="stylesheet" />
</th:block>

</html>
